.App {
  text-align: center;
}

.App-logo {
  height: 4rem;
}

.App-header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 1rem;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App.App-body {
  border: thick solid lightskyblue;
  padding: 1rem;
  margin: 1rem;
}

.App-footer {
  background-color: #222;
  color: white;
  padding: 1rem;
}

.footer-text p {
  margin: 0.5rem;
}

.footer-link,
.App-footer a {
  color: white;
}
